@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

:root {
  --font-geist-sans: 'Geist Variable', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-geist-sans);
}